body.offcanvas-active {
    overflow: auto;
}

#navbar {
    transition: all 0.5s ease;
}

.bg-ungu {
    background-color: rgb(156, 50, 218) !important;
    transition: 0.3s;
}

.bg-ungu:hover {
    background-color: rgb(186, 167, 197) !important;
}

.navbar-brand {
    transition: all .2s ease-in-out;
    border-radius: 6px;
    padding: 6px 10px;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.button {
    background-color: rgb(223, 49, 230);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: plum;
    color: white;
}

.nav-item a {
    color: rgb(14, 23, 29);
    transition: 0.3s;
    font-size: 19px;
    transition: all .2s ease-in-out;
}

.nav-item a:hover {
    transform: scale(1.2);
    color: black;
}

.flex-column {
    display: none;
}

ul {
    float: right;
    text-align: right;
}